body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.add-note {
  cursor: pointer;
}

.quick-add-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

}

.add-many {
  display: block;
}

@media print {
  .add-note,
  .quick-add-container {
    display: none;
  }
}
